<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task List Manager</title>
    <!-- Include Tailwind CSS and HTMX -->
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body id="task-list-manager">
    <!-- Task List -->
    <div id="task-list" hx-get="/tasks" hx-swap="innerHTML" hx-trigger="load">
      <!-- This div will be populated with tasks on page load -->
    </div>

    <!-- Create Task Form -->
    <form
      id="create-task-form"
      hx-post="/create"
      hx-target="#task-list"
      hx-swap="innerHTML"
    >
      <input
        type="text"
        name="taskName"
        placeholder="New task..."
        required
        class="mr-2"
      />
      <button type="submit">Add Task</button>
    </form>

    <!-- Clear All Tasks Button -->
    <button
      id="clear-tasks-button"
      hx-post="/clear-all"
      hx-confirm="Are you sure you want to clear all tasks?"
      hx-target="#task-list"
    >
      Clear All Tasks
    </button>

    <!-- Include htmx library here -->
    <script src="https://unpkg.com/htmx.org@1.6.0/dist/htmx.min.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <!-- Include your JavaScript (if needed) here -->
    <script>
      // Function to clear the taskName input field
      function clearTaskNameInput() {
        document.getElementById("create-task-form").elements["taskName"].value =
          "";
      }

      // Listen for htmx:beforeSwap event to clear the input field
      document.addEventListener("htmx:beforeSwap", function (event) {
        if (event.detail.target === document.getElementById("task-list")) {
          clearTaskNameInput();
        }
      });
    </script>
  </body>
</html>
